@font-face {
    font-family:'john';
    src:url('font.ttf');
}

* { font-family: Arial,'Indie Flower', cursive;}
#container { display:flex;flex-wrap:wrap;}
.error { color:hsl(0, 100%, 50%) }
.block { width:250px; min-height:30px;border:2px solid black;margin:10px;padding:10px;border-radius:20px;}
.chart { flex:1;min-width:100px;}

.block { position:relative;transition:top 2s ease-in-out;top:0vh;opacity:1;}
.block.start { top:-100vh;opacity:0;}

.strong { font-size:2em;}

#log { min-width:400px;width:98vw;}
li { list-style-type: none}
@media screen and (max-width:400px) {
    body { background-color: green;}
    .block { width:350px; }
}